@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    .players, .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .courses-list {
        flex-direction: column;
        align-items: center;
        /* justify-content: space-around; */
    }

    .courses-list .course img {
        width: 90%;
        height: auto;
    }
    .course-info {
        justify-content: space-around;
    }

    .player img {
        width: 70%;
        height: auto;
    }
}